body {
  background-color: rgb(55, 55, 55);
}

.App {
  color: whitesmoke;
  display: flex;
  flex-flow: column;
  align-items: center;
  margin-top: 10vh;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

#task {
  width: 100%;
  background-color: rgb(55, 55, 55);
  color: whitesmoke;
  border: none;
  border-bottom: 2px solid red;
  outline: none;
  padding: 12px 20px;
  margin: 8px 0;
  font-size: 1.2em;
}

.task-input {
  width: 60vw;
  display: flex;
  justify-content: center;
}

#btn {
  font-size: 1em;
}

.input-button {
  font-size: 1.25em;
  background-color: inherit;
  border: none;
  border-bottom: 2px solid red;
  color: #4caf50;
  padding: 12px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 8px 0;
  cursor: pointer;
  outline: none;
  font-weight: 900;
}

.btn-clear {
  color: red;
}

.event-btn-delete {
  border-bottom: none;
}

.task-list {
  /* display: flex; */
  flex-flow: column wrap;
  margin-top: 10px;
  width: 90vw;
  align-content: center;
}

.task-item {
  display: flex;
  justify-content: space-between;
  width: 50vw;
  align-items: center;
}

.item {
  font-size: 1rem;
  padding: 15px;
}

/* TABLE TESTING STYLES */

#students {
  text-align: center;
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#students td,
#students th {
  padding: 8px;
}

/* #students tr:nth-child(even) {
  background-color: #f2f2f2;
} */

#students tr:hover {
  background-color: rgba(165, 165, 165, 0.502);
}

#students th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: #2f322f93;
  color: white;
}
